apiVersion: apps/v1
kind: Deployment
metadata:
  name: aceapp-k8s-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: aceapp-k8s
  template:
    metadata:
      labels:
        app: aceapp-k8s
    spec:
      containers:
        - name: aceapp-k8s
          image: ajoyroy/ace_app:v1
          ports:
            - containerPort: 8081
  
---

apiVersion: v1
kind: Service
metadata:
  name: aceapp-k8ssvc
spec:
  selector:
    app: aceapp-k8s
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
  type: NodePort
